* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;
}

 h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
}

p {
  font-size: 14px;
  font-weight: 600;
  
}

.huddle {
  margin: 20px;
}

.huddle-m {
  width: 120px;
}

.try {
  float: right;
  width: 30%;
  height: 1.5rem;
  border-radius: 2rem;
  border: 1.5px solid hsl(322, 100%, 66%);
  background-color: white;
  font-weight: bold;
  color: hsl(322, 100%, 66%);
}

.build {
  text-align: center;
  /* margin: 100px 30px 20px 30px  ; */
}

.fans {
  margin: 100px 20px 20px 20px;
}

.re-imagines {
  margin: 10px 20px 40px 20px;
  font-size: 12px;
  /* font-weight: 600; */
  line-height: 1rem;
}

.build button {
  height: 30px;
  width: 50%;
  background-color: hsl(322, 100%, 66%);
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 2rem;
  margin-bottom: 80px;
}

.screen-mockups {
  width: 85%;
  margin-bottom: 80px;
}

.icon h1 {
  text-align: center;
  font-size: 3.5rem;
}
.icon p {
  text-align: center;
  margin-bottom: 100px;
}

.icon img {
  width: 30px;
  margin-left: 102px;
}

.grow-together {
  text-align: center;
  background-color: hsl(207, 100%, 98%);
  margin-top: -10px;
}
.grow-together h2 {
  margin-top: 80px;
  margin-bottom: 20px;
}

.grow-together p {
    margin-left: 30px;
    margin-right: 30px;
    font-size: 14px;
}
.top {
  width: 100vw;
  margin-bottom: -1px;
}

.illustration {
  width: 85%;
  margin-top: 100px;
}

.bottom {
  width: 100vw;
  /* height: 50vh; */
}

.flowing-conversation {
  text-align: center;
}
.flowing-conversation img {
  width: 85%;
  margin-top: 100px;
  margin-bottom: 60px;
}

.flowing-conversation p {
  margin: 20px 30px 40px 30px;
  /* font-size: 13px; */
}

.top2 {
  width: 100vw;
  margin-top: 60px;
  margin-bottom: -20px;
}

.your {
  background-color: hsl(207, 100%, 98%);
  text-align: center;
  height: 50vh;
}

.your p {
  margin: 20px 30px 0px 30px;
}

.bottom2 {
  width: 100vw;
  margin-bottom: 100px;
}

.community {
  text-align: center;
}

.community h2 {
  margin: 30px;
}

.community button {
  width: 50%;
  height: 2.2rem;
  border-radius: 2rem;
  background-color: hsl(322, 100%, 66%);
  color: white;
  padding: 5px;
  font-weight: bold;
  border: none;
  margin-bottom: 150px;
}

.footer {

  width: 100vw;
}

.news {
  width: 100%;
  height: 60vh;
  margin-top: -10px;
  color: white;
  background-color: hsl(192, 100%, 9%);
}

.news h2 {
  padding: 40px 20px 10px 20px;
}

.news p {
  padding: 10px 20px 20px 20px;
  line-height: 1.5rem;
  font-size: 13px;
  font-weight: bold;
}

.news input {
  width: 90%;
  background-color: white;
  border: none;
  height: 2rem;
  border-radius: 6px;
  margin: 5px 15px 10px 15px;
}

.news button {
  float: right;
  width: 45%;
  height: 2.2rem;
  background-color: hsl(322, 100%, 66%);
  color: white;
  border-radius: 6px;
  margin-right: 15px;
  border: none;
  font-weight: bold;
  margin-bottom: 80px;
}

.lorem {
  background-color: hsl(192, 100%, 9%);
  padding-left: 20px;
  color: whitesmoke;
  font-weight: bold;
  height: 50vh;
}

.icon-messages {
  width: 30px;
  float: left;
  /* color: whitesmoke; */
  margin-right: 5px;
  margin-top: 6px;
  margin-bottom: 10px;
}

.ipsum {
  line-height: 1.3rem;
  /* color: whitesmoke; */
  /* font-weight: bold; */
  margin-bottom: 30px;
  margin-top: 10px;
  margin-right: 20px;
}
.lorem p {
  font-size: 12px;
}
.icon-phone {
  float: left;
  padding-right: 20px;
  /* padding-bottom: 8px; */
}

.icon-email {
  float: left;
  padding-right: 20px;
  margin-top: 20px;
}

.phone {
  padding-bottom: 10px;
}

.example {
  padding-bottom: 10px;
  padding-top: 20px;
}

.media-icons {
  margin-top: 40px;
}